<header>
    <nav class="navbar navbar-dark navbar-expand-sm brum--bg--navy-blue--tinted">
        <a class="navbar-brand brum--fg--yellow--tinted" href="/">
            <img src="https://responsiveimages.io/v1/images/https%3A%2F%2Fraw.githubusercontent.com%2FBrumPHP%2FAssets%2Fmaster%2Fbull-logo%2Fbull-highres.png?fill=scale-down&amp;width=200" width="100" height="100" alt="BrumPHP">
            BrumPHP
        </a>
        <div class="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Code of Conduct</a>
                </li>
            </ul>
        </div>
    </nav>
</header>